* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

html {
    /* background-color: #000; */
    background-image: url(Img/black.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
}

/* =================== Logo  =================== */
.logo img {
    width: 20rem;
    cursor: pointer;
}

/* =================== Welcome Text and Title  =================== */
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    user-select: none;
}

.title h1 {
    font-size: 4.5em;
    color: #fff;
    margin-left: 2rem;
    letter-spacing: 3px;
}

.title h2 {
    color: #fff;
    position: absolute;
    top: 17rem;
    font-size: 2.5rem;
    letter-spacing: 3px;
}

.title h3 {
    color: #fff;
    position: absolute;
    top: 26.3rem;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
}

/* =================== buutons =================== */
.admin {
    position: absolute;
    top: 3.5rem;
    left: 89.5rem;
}

.admin a,
.join a {
    padding: 0.6rem;
    border-radius: 6px;
    letter-spacing: 4px;
    background-color: transparent;
    color: #ffff;
    cursor: pointer;
    font-size: 1.2rem;
    border: 0.5px solid white;
    font-weight: 600;
    user-select: none;
    text-decoration: none;
}

.login a {
    padding: 0.6rem;
    border-radius: 6px;
    background-color: aqua;
    color: #000;
    cursor: pointer;
    font-size: 1.2rem;
    border: 0.5px solid black;
    font-weight: 600;
    letter-spacing: 2px;
    user-select: none;
    text-decoration: none;
}

.login {
    position: absolute;
    left: 43rem;
    top: 32rem;
}

.join {
    position: absolute;
    left: 52.5rem;
    top: 32rem;
}

/* =================== buutons hover Effects =================== */
.login a:hover {
    background-color: transparent;
    color: #ffff;
    border: 0.5px solid white;
    transition: ease-in-out 0.3s;
}

.join a:hover,
.admin a:hover {
    background-color: white;
    color: #000;
    border: 0.5px solid black;
    transition: ease-in-out 0.3s;
}

/* =================== bubbles Animation =================== */
.bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}

.bubbles img {
    width: 50px;
    animation: bubble 7s linear infinite;
}

@keyframes bubble {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: translateY(-90vh);
        opacity: 0;
    }

}

.bubbles img:nth-child(1) {
    animation-delay: 2s;
    width: 25px;
}

.bubbles img:nth-child(2) {
    animation-delay: 1s;
}

.bubbles img:nth-child(3) {
    animation-delay: 3s;
    width: 20px;
}

.bubbles img:nth-child(4) {
    animation-delay: 4.5s;
}

.bubbles img:nth-child(5) {
    animation-delay: 3s;
}

.bubbles img:nth-child(6) {
    animation-delay: 6s;
    width: 35px;
}

.bubbles img:nth-child(7) {
    animation-delay: 8s;
}

.bubbles img:nth-child(8) {
    animation-delay: 2s;
    width: 50px;
}

.bubbles img:nth-child(9) {
    animation-delay: 1.5s;
}
